/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@ 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Reset */
*{
    margin: 00;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/* General Variables */
:root{
    --sideBGColor:#2A1409;
    --themeColor: #db6009;
    --iconBGColor: #F2E7DD;
    --textColor: black;
    --bgColor: #F2E7DD;
}
/* -------------------------- HEADER -------------------- */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bgColor);
}
header .profile h1{
    color: var(--bgColor);
    font-weight: 600;
    line-height: 50px;
    font-size: 40px;
    padding-top: 15px;
    color: transparent;
    -webkit-text-stroke: 1px var(--bgColor);
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    -webkit-animation: back 50s linear infinite;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
header .profile p{
    color: var(--bgColor);
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}
header .profile .social_links a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    justify-content: center;
    line-height: 37px;
    color: var(--iconBGColor);
    font-size: 18px;
    margin: 10px;
}
header .profile .social_links a:hover{
    background-color: var(--themeColor);
    color: var(--textColor);
}
/* ------ Navigation Bar ------ */
header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: var(--bgColor);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px ;
}
header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}
header nav ul li .active i{
    color: var(--themeColor);
}
/* ------ Footer ------ */
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: var(--bgColor);
    font-size: 12px;
    letter-spacing: 0.4px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
/* Mobile Navigation Toggle */
#MenuBtn{
    position: fixed;
    right: 25px;
    top: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--bgColor);
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0,0,0, 20%);
    display: none;
    z-index: 999;
} 
/* Mobile View */
@media only screen and (max-width: 1050px){ 
    header{
        left: -300px; 
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
/* ------ Header Toogle ------ */
.mobile-nav-active header,
.mobile-nav-active header .footer{
    left: 0;
}
/* -------------------------- MAIN -------------------- */
main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition:0.3s;
}
@media only screen and (max-width: 1050px) {
    main{
        margin-left: 0;
    }
}
/* --------- Home Section -------- */
#home{
    height: 100vh;
    width: 100%;
    background-image: url(./images/Landing_image.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    position: relative;
    opacity: 0.75;
}
#home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
}
#home .home-row{
    z-index: 1;
}
#home .home-row h1{
    color: var(--bgColor);
    position: relative;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 70px;
}
#home .home-row h1 span{
    color: var(--themeColor);
}
#home .home-row p{
    color: var(--bgColor);
    font-size: 35px;
    font-weight: 500;
}
#home .home-row p span{
    border-bottom: 4px solid var(--themeColor);
}
/* -------Mobile View---------- */
@media only screen and (max-width: 670px) {
    #home{
        padding: 30px;
    }
    #home .home-row h1{
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 0;
    }
    #home .home-row h1 br{
        display: none;
    }
    #home .home-row p{
        color: var(--bgColor);
        font-size: 20px;
        font-weight: 400;
    }
}
/* --------- About Section -------- */
#about{
    padding: 70px 30px;
    height: 100vh;
    width: 100%;
}
/* --------- General Heading -------- */
.sub-heading{
    color: var(--sideBGColor);
    font-size: 40px;
    margin-bottom: 10px;
}
.divider{
    width: 100px;
    height: 6px;
    background-color: var(--themeColor);
    border-radius: 3px;
}
#about .about-col{
    display: flex;
    gap: 30px;
    padding-inline: 1rem;
    margin-top: 25px;
}
#about .about-col .text-col{
    flex-basis: 70% ;
    flex-grow: 1;
    align-items: center;
    padding-top: 180px;
    /* padding-right: 15px; */
    text-align: justify;
    font-size: 20px;
    color: var(--sideBGColor);
    font-weight: 300;
}
/* ---- Mobile View ----*/
@media only screen and (max-width: 850px){
    #about{
        padding: 50px 10px;
    }
    #about .about-col{
        flex-direction: column;
        gap: 0;
    }
    #about .about-col .img-col img{
        width: 100%
    }
    #about .about-col .text-col{
        padding-top: 10px;
        padding-right: 5px;
        margin-bottom: 45px;
        font-size: 18px;
        color: var(--sideBGColor);
    }
    @media only screen and (max-width: 400px){
        #about .about-col .img-col img{
            width: 90%
        }
    }
}
/* --------- Skills Section -------- */
#skills {
    color: var(--sideBGColor);
    padding: 70px 30px;
    /* margin-bottom: 30px; */
    height: 100vh;
    width: 100%;
  }
  .skills_container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .skill-item {
    text-align: center;
    color: var(--sideBGColor);
    margin-bottom: 40px;
  }
  .skill-item i {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .skill-item h2 {
    margin: 10px 0;
  }
/* -----------Mobile View --------------- */
@media only screen and (max-width: 650px){
    #skills {
        padding: 10px;
        margin-bottom: 10px;
      }
      .skills_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 15px;
      }
}
@media only screen and (max-width: 350px){
    .skills_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .skill-item {
        text-align: center;
        color: var(--sideBGColor);
        margin-bottom: 20px;
        font-size: 10px;
        /* gap: 10px; */
      }
}
/* ------------ Projects ----------------- */
 #projects{
    padding: 70px 30px;
    height: 100vh;
    width: 100%;
  }
  #projects .project-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  #projects .project-row .project-item{
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}
  #projects .project-row .project-item .project-img img{
    width: 100%;
    border-radius: 3px;
}
 #projects .project-row .project-item .project-infos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(219, 96, 9, 1)  0%, rgba(219, 96, 9, 1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0)  ;
    transition: 1s;
    border-radius: 3px;
    visibility: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#projects .project-row .project-item:hover .project-infos{
  transform: scale(1)  ;
  visibility: visible;
}
#projects .project-row .project-item:hover .project-infos h4{
  color: var(--sideBGColor);
  font-size: 25px;
  font-weight: bold;
}
#projects .project-row .project-item:hover .project-infos h4 + p{
  color: var(--sideBGColor);
  font-size: 14px;
  padding: 15px;
}
#projects .project-row .project-item:hover .project-infos a{
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  width: 45px;
  color: var(--bgColor);
}
/* -----------Mobile View---------- */
@media only screen and (max-width: 650px){
    #projects{
        padding: 30px 10px;
      }
      #projects .project-row {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
      }
}
@media only screen and (max-width: 350px){
    #projects .project-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
      }
}
/* ------------ Contact ----------------- */
#contact {
    padding: 70px 0;
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--bgColor);
  }
  .margin{
    margin-left: 30px;
  }
  #contact .contact-row{
    padding: 3rem 0;
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    background-color: var(--bgColor);
    /* gap: 30px;  */
     /* width: 100%; */
}
   #contact .contact-row .contact-left{
    width: 40%;
    height: 20%;
    background-color: var(--sideBGColor);
    box-shadow: 0 0 20px rgba(0,0,0,20%) ;
    border-radius: 3px;
    padding: 30px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  #contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    align-items: center;
    margin : 30px 0;
    color: var(--themeColor);
  }
  #contact .contact-row .contact-left .icon-box .icon i {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.5s;
}
#contact .contact-row .contact-left .icon-box:hover .icon i{
  background-color :rgba(0, 0, 0, 0.2);
  color: var(--bgColor);
}
#contact .contact-row .contact-left .icon-box .info h4{
  font-size: 20px;
  color: var(--bgColor);
  font-weight: 600;
}
#contact .contact-row .contact-left .icon-box .info h4 + p{
  color: var(--bgColor);
  font-size: 15px;
  font-weight: 500;
}
#contact .contact-row .contact-right{
  width: 40%;
  height: 15%;
  background-color: var(--sideBGColor);
  box-shadow: 0 0 10px rgba(0,0,0,20%) ;
  border-radius: 3px;
  padding: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#contact .contact-row .contact-right form input,
#contact .contact-row .contact-right form textarea{
  display: block;
  width: 100%;
  margin: 25px 0;
  font-size: 15px;
  font-weight: 500;
  color: var(--themeColor);
  padding: 5px 5px;
  border: 2px solid lightgray;
  border-radius: 2px;
  outline: none;
  resize: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#contact .contact-row .contact-right form input:focus,
#contact .contact-row .contact-right form textarea:focus{
  border: 3px solid var(--themeColor);
}
#contact .contact-row .contact-right form input[type=submit]{
  background-color: var(--themeColor);
  color: var(--bgColor);
  border: 2px solid var(--bgColor);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
#contact .contact-row .contact-right form input[type=submit]:hover{
  background-color: var(--bgColor);
  color: var(--themeColor);
  border: 2px solid var(--themeColor);
}
/* Mobile */
@media only screen and (max-width: 800px){
  #contact {
    padding: 50px;
  }
  #contact .contact-row{
    flex-direction: column;
    gap: 20px;
   }
}
@media only screen and (max-width: 350px){
    #contact {
      padding: 20px;
    }
    #contact .contact-row{
      flex-direction: column;
      gap: 10px;
      font-size: 10px;
     }
  }






