/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@ 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Reset */
*{
    margin: 00;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/* General Variables */
:root{
    --sideBGColor:#2A1409;
    --themeColor: #DB6009;
    --iconBGColor: #F2E7DD;
    --textColor: black;
    --bgColor: #F2E7DD;
}
/* ------ Header ------ */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bgColor);
}
header .profile h1{
    color: var(--bgColor);
    font-weight: 600;
    padding-top: 15px;
}
header .profile p{
    color: var(--bgColor);
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}
header .profile .social_links a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    justify-content: center;
    line-height: 37px;
    color: var(--iconBGColor);
    font-size: 18px;
    margin: 10px;
}
header .profile .social_links a:hover{
    background-color: var(--themeColor);
    color: var(--textColor);
}
/* ------ Navigation Bar ------ */
header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: var(--bgColor);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px ;
}
header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}
header nav ul li .active i{
    color: var(--themeColor);
}
/* ------ Footer ------ */
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: var(--bgColor);
    font-size: 12px;
    letter-spacing: 0.4px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
/* Mobile Navigation Toggle */
#MenuBtn{
    position: fixed;
    right: 25px;
    top: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--bgColor);
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0,0,0, 20%);
    display: none;
    z-index: 999;
} 
/* Mobile View */
@media only screen and (max-width: 1050px){ 
    header{
        left: -300px; 
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
/* ------ Header Toogle ------ */
.mobile-nav-active header,
.mobile-nav-active header .footer{
    left: 0;
}




